/ %h2 Pins

/ = simple_form_for @pin, url: pins_path do |f|
/   .card
/     %h4.card-title
/       Operator
/     = f.collection_radio_buttons :operator_id, @operators.map {|a| [a.id, a.operator_name ]}, :first, :last

/   .card.mt-5
/     %h4.card-title
/       Amount
/     .row
/       .col-2
/         RM 5
/       .col-2
/         RM 5
/       .col-2
/         RM 5
/       .col-2
/         RM 5
/       .col-2
/         RM 5
/       .col-2
/         RM 5
- provide :page_title, 'Local PIN Purchase'
.row
  .col-12
    .card
      .card-block
        .card-title Operator
.row.mt-5
  .col-12
    .card
      .card-block
        .card-title Amount
        .card-text
          %input{type: 'radio', name: 'test'} 5
          %input{type: 'radio', name: 'test'} 10
          %input{type: 'radio', name: 'test'} 15
          %input{type: 'radio', name: 'test'} 20
          %input{type: 'radio', name: 'test'} 30
          %input{type: 'radio', name: 'test'} 50
.row.mt-5.justify-content-center
  .btn Buy PIN
