%h2 Pins

.card
  %h4.card-title
    Operator
  - @operators.each do |operator|
    = operator.operator_name

.card.mt-5
  %h4.card-title
    Amount
  .row
    .col-2
      RM 5
    .col-2
      RM 5
    .col-2
      RM 5
    .col-2
      RM 5
    .col-2
      RM 5
    .col-2
      RM 5
