@mixin btn-telco($logo) {
  background-image: url($logo);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2.5rem;
  &:active, &.active{
    background-image: url($logo);
    box-shadow: 0 0 0 3px rgba(18, 99, 156, .5);
  }
  &:focus, &.focus {
    box-shadow: 0 0 0 3px rgba(18, 99, 156, 1);
  }
}

.btn-radio {
  background-color: $blue;
  color: $white;
  border-color: $blue;
  font-size: 1.75rem;
  min-width: 70px;

  &:active, &.active{
    background-color: $dark-blue;
    border-color: $white;
  }

  div:first-of-type {
    font-size: .75rem;
  }
}

.nofocus{
  &:active, &.active {
    background-color: $blue;
    border-color: $blue;
  }
  &:focus, &.focus {
    outline: 0;
    box-shadow: none;
    }
}


.btn-red {
  background-color: $main;
  color: $white;
  border-color: $main;
  min-width: 15rem;
  text-transform: uppercase;
  border-radius: 0.65rem;
  font-weight: 200;
  font-size: 1.5rem;
  input {
    color: $white;
    font-weight: 200;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

.btn-hotlink {
  @include btn-telco('telcologo/hotlink.png')
}

.btn-digi {
  @include btn-telco('telcologo/digi.png')
}

.btn-xpax {
  @include btn-telco('telcologo/xpax.png')
}

.btn-umobile {
  @include btn-telco('telcologo/umobile.png')
}

.btn-onexox {
  @include btn-telco('telcologo/onexox.png')
}

.btn-tunetalk {
  @include btn-telco('telcologo/tunetalk.png')
}
