.full-height {
  min-height: 100vh;
}

.h-2-2 {
  height: 2.2rem;
}

.mw-7 {
  max-width: 7rem;
}

.max-50 {
  max-height: 50px;
}

.max-30 {
  max-height: 30px;
}

@include media-breakpoint-down(xs) {
  .pr-xs-25 {
    padding-right: 26.5px;
  }

  .mw-xs-87 {
    max-width: 87%;
  }
}
