.text-white {
  color: $white;
}

.text-red {
  color: $red;
}

.text-main {
  color: $main;
}

.font-weight-200 {
  font-weight: 200;
}

.text-deco-0, .text-deco-0:hover {
  text-decoration: none;
}
