- provide :page_title, 'My Account'
.row
  .col-12
    .card
      .card-block
        .card-text
          %p Name
          %p Registered Phone Number
          %p Email
      .card-block
        .card-text
          %p Username
          %p Password
          %p Confirm Password