- provide :page_title, 'New Agent Registration'
.row
  .col-12
    .card
      .card-block
        .card-text
          %p Agent Name
          %p Business Phone Number
          %p Email
          Register