- provide :page_title, 'Bill Payment'
.row
  .col-12
    .card
      .card-block
        .card-title Operator
.row.mt-5
  .col-12
    .card
      .card-block
        .card-title Amount
        .card-text
          %input{type: 'radio', name: 'test'} 5
          %input{type: 'radio', name: 'test'} 10
          %input{type: 'radio', name: 'test'} 15
          %input{type: 'radio', name: 'test'} 20
          %input{type: 'radio', name: 'test'} 30
          %input{type: 'radio', name: 'test'} 50
.row.mt-5.justify-content-center
  .btn Pay Bill