- provide :page_title, 'Video Tutorials'
.row
  .col-12.col-md-4
    .card.my-sm-0.mt-3
      = image_tag 'http://via.placeholder.com/350x200', class: 'img-fluid'
      .card-block
        .card-text
          How to register a new agent
  .col-12.col-md-4
    .card.my-sm-0.mt-3
      = image_tag 'http://via.placeholder.com/350x200', class: 'img-fluid'
      .card-block
        .card-text
          How to register a new agent
  .col-12.col-md-4
    .card.my-sm-0.mt-3
      = image_tag 'http://via.placeholder.com/350x200', class: 'img-fluid'
      .card-block
        .card-text
          How to register a new agent