#flash-messages-container
  - flash.each do |k,v|
    %section.flash-messages
      %div{:class => "alert alert-#{k}"}
        %button#close.close{"data-dismiss" => "alert", :type => "button"}
          ×
        .message
          = v

